include head
    div(class="container")
        div(class="jumbotron")
            br
            h1(class="display-4") Send message
            br
            input(class="form-control" placeholder="Name" id="name")
            br
            input(class="form-control" placeholder="Message" id="message")
            br
            button(class="btn btn-success" id="send") Send
            br
        div(class="jumbotron" id="messages")
include footer